body {
    background-color: #FFFFFF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {font-family: 'Bitter', serif;}

h1 {font-family: 'Bitter'}

h2 {font-family: 'Bitter'}

iframe {width: 560px}



#header ul {

  list-style: none;

  margin: 10px;

  padding: 0;

}

#header ul li a {

background-color: #FFFFFF;

border: 1px solid #999999;

color: #222222;

display: block;

font-size: 17px;

font-weight: bold;

margin-bottom: -1px;

padding: 12px 10px;

text-decoration: none;

}
